                    * {
                        box-sizing: border-box;
                    }
                    
                    html {
                        font-size: 14px;
                        font-family: 'Roboto', sans-serif;
                    }
                    
                    body {
                        background: #000000;
                        height: 100%;
                        margin: 0;
                    }
                    
                    .wrapper {
                        display: flex;
                        flex-direction: column;
                        max-width: 1600px;
                        margin: 0 auto;
                    }
                    
                    header {
                        background: #9c0000;
                        width: 100%;
                    }
                    
                    .nav {
                        display: flex;
                    }
                    
                    .logo {
                        flex: 1;
                        padding: 20px;
                    }
                    
                    .logo img {
                        width: 200px;
                    }
                    
                    .menu {
                        padding: 40px;
                    }
                    
                    .menu ul {
                        display: inline-flex;
                    }
                    
                    .menu li {
                        font-size: 2rem;
                        padding: 20px;
                    }
                    
                    .menu li a {
                        color: #ffffff;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                    
                    .about {
                        display: flex;
                        width: 100%;
                        padding: 25px;
                    }
                    
                    .about .text {
                        display: flex;
                        flex: 1;
                        justify-content: center;
                        flex-direction: column;
                        color: #ffffff;
                        padding: 20px;
                    }
                    
                    .about .text h1 {
                        font-size: 3rem;
                        font-weight: 700;
                    }
                    
                    .about .text h2 {
                        font-size: 2rem;
                        font-weight: 500;
                        padding-top: 10px;
                    }
                    
                    .about .text p {
                        font-size: 1.50rem;
                        line-height: 1.5;
                        font-weight: 500;
                        padding-top: 20px;
                    }
                    
                    .about .photo {
                        flex: 1;
                    }
                    
                    .about .photo img {
                        width: 100%;
                    }
                    
                    .spacer {
                        height: 2px;
                        background: #9c0000;
                        width: 100%;
                        margin: 5px;
                    }
                    
                    .hours {
                        display: flex;
                        width: 100%;
                        padding: 25px;
                    }
                    
                    .hours .text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: #ffffff;
                        margin-left: 40px;
                        flex: 1;
                    }
                    
                    .hours .text h1 {
                        font-size: 3rem;
                        font-weight: 700;
                    }
                    
                    .hours .text h2 {
                        font-size: 2rem;
                        font-weight: 500;
                        padding-top: 10px;
                    }
                    
                    .hours .text p {
                        font-size: 1.50rem;
                        line-height: 1.5;
                        font-weight: 500;
                        padding-top: 20px;
                    }
                    
                    .hours .photo {
                        flex: 1;
                    }
                    
                    .hours .photo img {
                        width: 100%;
                    }
                    
                    .location {
                        display: flex;
                        width: 100%;
                        height: 600px;
                        padding: 25px;
                    }
                    
                    .location .text {
                        display: flex;
                        flex: 1;
                        justify-content: center;
                        flex-direction: column;
                        color: #ffffff;
                        padding: 20px;
                    }
                    
                    .location .text h1 {
                        font-size: 3rem;
                        font-weight: 700;
                    }
                    
                    .location .text h2 {
                        font-size: 2rem;
                        font-weight: 500;
                        padding-top: 10px;
                    }
                    
                    .location .text p {
                        font-size: 1.50rem;
                        line-height: 1.5;
                        font-weight: 500;
                        padding-top: 20px;
                    }
                    
                    .rooms {
                        display: flex;
                        width: 100%;
                        padding: 25px;
                    }
                    
                    .rooms .text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: #ffffff;
                        margin-left: 40px;
                        flex: 1;
                    }
                    
                    .rooms .text h1 {
                        font-size: 3rem;
                        font-weight: 700;
                    }
                    
                    .rooms .text h2 {
                        font-size: 2rem;
                        font-weight: 500;
                        padding-top: 10px;
                    }
                    
                    .rooms .text p {
                        font-size: 1.50rem;
                        line-height: 1.5;
                        font-weight: 500;
                        padding-top: 20px;
                    }
                    
                    .rooms ul {
                        font-size: 1.25rem;
                        line-height: 1.55;
                        font-weight: 500;
                        padding-top: 20px;
                    }
                    
                    .rooms .photo {
                        flex: 1;
                    }
                    
                    .rooms .photo img {
                        width: 100%;
                    }
                    
                    .cards {
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: row;
                        width: 100%;
                        padding: 25px;
                    }
                    
                    .cards h1 {
                        color: #ffffff;
                        font-size: 3rem;
                        font-weight: 700;
                    }
                    
                    .allday {
                        color: #ffffff;
                        font-size: 2rem;
                        font-weight: 700;
                        padding: 20px 0;
                    }
                    
                    .halfday {
                        color: #ffffff;
                        font-size: 2rem;
                        font-weight: 700;
                        padding: 20px 0;
                    }
                    
                    .card_week {
                        padding: 30px;
                    }
                    
                    .card_sat {
                        padding: 30px;
                    }
                    
                    .card_sun {
                        padding: 30px;
                    }
                    
                    .price {
                        color: #ffffff;
                        font-size: 1.5rem;
                        font-weight: 700;
                    }