* {
    box-sizing: border-box;
}

header {
    display: inline-flex;
    background: purple;
    width: 100%;
}

.logo {
    padding: 10px;
}

.logo img {
    width: 150px;
}

#top_nav {
    display: inline-flex;
    padding: 20px;
}

#top_nav li {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px;
}

#top_nav li a {
    text-decoration: none;
    color: #ffffff;
}